@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray1: 0 0% 99%;
    --gray2: 0 0% 97.3%;
    --gray3: 0 0% 95.1%;
    --gray4: 0 0% 93%;
    --gray5: 0 0% 90.9%;
    --gray6: 0 0% 88.7%;
    --gray7: 0 0% 85.8%;
    --gray8: 0 0% 78%;
    --gray9: 0 0% 56.1%;
    --gray10: 0 0% 52.3%;
    --gray11: 0 0% 43.5%;
    --gray12: 0 0% 9%;

    --mauve1: 300 20% 99%;
    --mauve2: 300 7.7% 97.5%;
    --mauve3: 294 5.5% 95.3%;
    --mauve4: 289 4.7% 93.3%;
    --mauve5: 283 4.4% 91.3%;
    --mauve6: 278 4.1% 89.1%;
    --mauve7: 271 3.9% 86.3%;
    --mauve8: 255 3.7% 78.8%;
    --mauve9: 252 4% 57.3%;
    --mauve10: 253 3.5% 53.5%;
    --mauve11: 252 4% 44.8%;
    --mauve12: 260 25% 11%;

    --slate1: 206 30% 98.8%;
    --slate2: 210 16.7% 97.6%;
    --slate3: 209 13.3% 95.3%;
    --slate4: 209 12.2% 93.2%;
    --slate5: 208 11.7% 91.1%;
    --slate6: 208 11.3% 88.9%;
    --slate7: 207 11.1% 85.9%;
    --slate8: 205 10.7% 78%;
    --slate9: 206 6% 56.1%;
    --slate10: 206 5.8% 52.3%;
    --slate11: 206 6% 43.5%;
    --slate12: 206 24% 9%;

    --sage1: 155 30% 98.8%;
    --sage2: 150 16.7% 97.6%;
    --sage3: 151 10.6% 95.2%;
    --sage4: 151 8.8% 93%;
    --sage5: 151 7.8% 90.8%;
    --sage6: 152 7.2% 88.4%;
    --sage7: 153 6.7% 85.3%;
    --sage8: 154 6.1% 77.5%;
    --sage9: 155 3.5% 55.5%;
    --sage10: 154 2.8% 51.7%;
    --sage11: 155 3% 43%;
    --sage12: 155 24% 9%;

    --olive1: 110 20% 99%;
    --olive2: 120 16.7% 97.6%;
    --olive3: 119 10.1% 95.2%;
    --olive4: 118 8.1% 93%;
    --olive5: 117 7.1% 90.8%;
    --olive6: 115 6.4% 88.5%;
    --olive7: 114 5.9% 85.4%;
    --olive8: 110 5.2% 77.3%;
    --olive9: 110 3.5% 55.5%;
    --olive10: 111 2.8% 51.7%;
    --olive11: 110 3% 43%;
    --olive12: 110 25% 9.5%;

    --sand1: 50 20% 99%;
    --sand2: 60 7.7% 97.5%;
    --sand3: 59 6.5% 95.1%;
    --sand4: 58 6.1% 92.9%;
    --sand5: 57 6% 90.7%;
    --sand6: 56 5.9% 88.4%;
    --sand7: 55 5.9% 85.2%;
    --sand8: 51 6% 77.1%;
    --sand9: 50 2% 55.7%;
    --sand10: 55 1.7% 51.9%;
    --sand11: 50 2% 43.1%;
    --sand12: 50 6% 10%;

    --tomato1: 10 100% 99.4%;
    --tomato2: 8 100% 98.4%;
    --tomato3: 8 100% 96.6%;
    --tomato4: 8 100% 94.3%;
    --tomato5: 8 92.8% 91%;
    --tomato6: 9 84.7% 86.3%;
    --tomato7: 10 77.3% 79.5%;
    --tomato8: 10 71.6% 71%;
    --tomato9: 10 78% 54%;
    --tomato10: 10 71.5% 50%;
    --tomato11: 10 82% 43.5%;
    --tomato12: 10 50% 13.5%;

    --red1: 359 100% 99.4%;
    --red2: 359 100% 98.6%;
    --red3: 360 100% 96.8%;
    --red4: 360 97.9% 94.8%;
    --red5: 360 90.2% 91.9%;
    --red6: 360 81.7% 87.8%;
    --red7: 359 74.2% 81.7%;
    --red8: 359 69.5% 74.3%;
    --red9: 358 75% 59%;
    --red10: 358 69.4% 55.2%;
    --red11: 358 65% 48.7%;
    --red12: 354 50% 14.6%;

    --crimson1: 332 100% 99.4%;
    --crimson2: 330 100% 98.4%;
    --crimson3: 331 85.6% 96.6%;
    --crimson4: 331 78.1% 94.2%;
    --crimson5: 332 72.1% 91.1%;
    --crimson6: 333 67% 86.7%;
    --crimson7: 335 63.5% 80.4%;
    --crimson8: 336 62.3% 72.9%;
    --crimson9: 336 80% 57.8%;
    --crimson10: 336 73.7% 53.5%;
    --crimson11: 336 75% 47.2%;
    --crimson12: 340 65% 14.5%;

    --pink1: 322 100% 99.4%;
    --pink2: 323 100% 98.4%;
    --pink3: 323 86.3% 96.5%;
    --pink4: 323 78.7% 94.2%;
    --pink5: 323 72.2% 91.1%;
    --pink6: 323 66.3% 86.6%;
    --pink7: 323 62% 80.1%;
    --pink8: 323 60.3% 72.4%;
    --pink9: 322 65% 54.5%;
    --pink10: 322 63.9% 50.7%;
    --pink11: 322 75% 46%;
    --pink12: 320 70% 13.5%;

    --plum1: 292 90% 99.4%;
    --plum2: 300 100% 98.6%;
    --plum3: 299 71.2% 96.4%;
    --plum4: 299 62% 93.8%;
    --plum5: 298 56.1% 90.5%;
    --plum6: 296 51.3% 85.8%;
    --plum7: 295 48.2% 78.9%;
    --plum8: 292 47.7% 70.8%;
    --plum9: 292 45% 51%;
    --plum10: 292 50.2% 46.9%;
    --plum11: 292 60% 42.5%;
    --plum12: 291 66% 14%;

    --purple1: 280 65% 99.4%;
    --purple2: 276 100% 99%;
    --purple3: 276 83.1% 97%;
    --purple4: 275 76.4% 94.7%;
    --purple5: 275 70.8% 91.8%;
    --purple6: 274 65.4% 87.8%;
    --purple7: 273 61% 81.7%;
    --purple8: 272 60% 73.5%;
    --purple9: 272 51% 54%;
    --purple10: 272 46.8% 50.3%;
    --purple11: 272 50% 45.8%;
    --purple12: 272 66% 16%;

    --violet1: 255 65% 99.4%;
    --violet2: 252 100% 99%;
    --violet3: 252 96.9% 97.4%;
    --violet4: 252 91.5% 95.5%;
    --violet5: 252 85.1% 93%;
    --violet6: 252 77.8% 89.4%;
    --violet7: 252 71% 83.7%;
    --violet8: 252 68.6% 76.3%;
    --violet9: 252 56% 57.5%;
    --violet10: 251 48.1% 53.5%;
    --violet11: 250 43% 48%;
    --violet12: 254 60% 18.5%;

    --indigo1: 225 60% 99.4%;
    --indigo2: 223 100% 98.6%;
    --indigo3: 223 98.4% 97.1%;
    --indigo4: 223 92.9% 95%;
    --indigo5: 224 87.1% 92%;
    --indigo6: 224 81.9% 87.8%;
    --indigo7: 225 77.4% 82.1%;
    --indigo8: 226 75.4% 74.5%;
    --indigo9: 226 70% 55.5%;
    --indigo10: 226 58.6% 51.3%;
    --indigo11: 226 55% 45%;
    --indigo12: 226 62% 17%;

    --blue1: 206 100% 99.2%;
    --blue2: 210 100% 98%;
    --blue3: 209 100% 96.5%;
    --blue4: 210 98.8% 94%;
    --blue5: 209 95% 90.1%;
    --blue6: 209 81.2% 84.5%;
    --blue7: 208 77.5% 76.9%;
    --blue8: 206 81.9% 65.3%;
    --blue9: 206 100% 50%;
    --blue10: 208 100% 47.3%;
    --blue11: 211 100% 43.2%;
    --blue12: 211 100% 15%;

    --sky1: 193 100% 98.8%;
    --sky2: 193 100% 97.3%;
    --sky3: 193 99% 94.7%;
    --sky4: 193 91.4% 91.4%;
    --sky5: 194 82% 86.6%;
    --sky6: 194 74.1% 79.5%;
    --sky7: 194 72.3% 69.6%;
    --sky8: 193 77.9% 53.9%;
    --sky9: 193 98% 70%;
    --sky10: 193 87% 66.5%;
    --sky11: 195 100% 31.5%;
    --sky12: 195 100% 13%;

    --mint1: 165 80% 98.8%;
    --mint2: 164 88.2% 96.7%;
    --mint3: 164 76.6% 93.3%;
    --mint4: 165 68.8% 89.5%;
    --mint5: 165 60.6% 84.5%;
    --mint6: 165 53.5% 76.9%;
    --mint7: 166 50.7% 66.1%;
    --mint8: 168 52.8% 51%;
    --mint9: 167 65% 66%;
    --mint10: 167 59.3% 63.1%;
    --mint11: 172 72% 28.5%;
    --mint12: 172 70% 12%;

    --cyan1: 185 60% 98.7%;
    --cyan2: 185 73.3% 97.1%;
    --cyan3: 186 70.2% 94.4%;
    --cyan4: 186 63.8% 90.6%;
    --cyan5: 187 58.3% 85.4%;
    --cyan6: 188 54.6% 78.4%;
    --cyan7: 189 53.7% 68.7%;
    --cyan8: 189 60.3% 52.5%;
    --cyan9: 190 95% 39%;
    --cyan10: 191 91.2% 36.8%;
    --cyan11: 192 85% 31%;
    --cyan12: 192 88% 12.5%;

    --teal1: 60% 98.8%;
    --teal2: 169 64.7% 96.7%;
    --teal3: 169 59.8% 94%;
    --teal4: 169 53.1% 90.2%;
    --teal5: 170 47.1% 85%;
    --teal6: 170 42.6% 77.9%;
    --teal7: 170 39.9% 68.1%;
    --teal8: 172 42.1% 52.5%;
    --teal9: 173 80% 36%;
    --teal10: 173 83.4% 32.5%;
    --teal11: 174 90% 25.2%;
    --teal12: 170 50% 12.5%;

    --green1: 136 50% 98.9%;
    --green2: 138 62.5% 96.9%;
    --green3: 139 55.2% 94.5%;
    --green4: 140 48.7% 91%;
    --green5: 141 43.7% 86%;
    --green6: 143 40.3% 79%;
    --green7: 146 38.5% 69%;
    --green8: 151 40.2% 54.1%;
    --green9: 151 55% 41.5%;
    --green10: 152 57.5% 37.6%;
    --green11: 153 67% 28.5%;
    --green12: 155 40% 14%;

    --grass1: 116 50% 98.9%;
    --grass2: 120 60% 97.1%;
    --grass3: 120 53.6% 94.8%;
    --grass4: 121 47.5% 91.4%;
    --grass5: 122 42.6% 86.5%;
    --grass6: 124 39% 79.7%;
    --grass7: 126 37.1% 70.2%;
    --grass8: 131 38.1% 56.3%;
    --grass9: 131 41% 46.5%;
    --grass10: 132 43.1% 42.2%;
    --grass11: 133 50% 32.5%;
    --grass12: 130 30% 14.9%;

    --lime1: 85 50% 98.7%;
    --lime2: 85 66.7% 96.5%;
    --lime3: 85 76% 92.3%;
    --lime4: 84 75.3% 87.5%;
    --lime5: 84 71.5% 81.9%;
    --lime6: 82 65% 74.6%;
    --lime7: 79 53.2% 61.8%;
    --lime8: 76 61.7% 45.1%;
    --lime9: 81 67% 50%;
    --lime10: 80 68.3% 46.9%;
    --lime11: 75 80% 26%;
    --lime12: 78 70% 11.5%;

    --yellow1: 60 54% 98.5%;
    --yellow2: 52 100% 95.5%;
    --yellow3: 55 100% 90.9%;
    --yellow4: 54 100% 86.6%;
    --yellow5: 52 97.9% 82%;
    --yellow6: 50 89.4% 76.1%;
    --yellow7: 47 80.4% 68%;
    --yellow8: 48 100% 46.1%;
    --yellow9: 53 92% 50%;
    --yellow10: 50 100% 48.5%;
    --yellow11: 42 100% 29%;
    --yellow12: 40 55% 13.5%;

    --amber1: 39 70% 99%;
    --amber2: 40 100% 96.5%;
    --amber3: 44 100% 91.7%;
    --amber4: 43 100% 86.8%;
    --amber5: 42 100% 81.8%;
    --amber6: 38 99.7% 76.3%;
    --amber7: 36 86.1% 67.1%;
    --amber8: 35 85.2% 55.1%;
    --amber9: 39 100% 57%;
    --amber10: 35 100% 55.5%;
    --amber11: 30 100% 34%;
    --amber12: 20 80% 17%;

    --orange1: 24 70% 99%;
    --orange2: 24 83.3% 97.6%;
    --orange3: 24 100% 95.3%;
    --orange4: 25 100% 92.2%;
    --orange5: 25 100% 88.2%;
    --orange6: 25 100% 82.8%;
    --orange7: 24 100% 75.3%;
    --orange8: 24 94.5% 64.3%;
    --orange9: 24 94% 50%;
    --orange10: 24 100% 46.5%;
    --orange11: 24 100% 37%;
    --orange12: 15 60% 17%;

    --brown1: 30 40% 99.1%;
    --brown2: 30 50% 97.6%;
    --brown3: 30 52.5% 94.6%;
    --brown4: 30 53% 91.2%;
    --brown5: 29 52.9% 86.8%;
    --brown6: 29 52.5% 80.9%;
    --brown7: 29 51.5% 72.8%;
    --brown8: 28 50% 63.1%;
    --brown9: 28 34% 51%;
    --brown10: 27 31.8% 47.6%;
    --brown11: 25 30% 41%;
    --brown12: 20 30% 19%;

    --bronze1: 15 30% 99.1%;
    --bronze2: 17 63.6% 97.8%;
    --bronze3: 17 42.1% 95.2%;
    --bronze4: 17 35.2% 92.1%;
    --bronze5: 17 31.5% 88.2%;
    --bronze6: 17 29% 83%;
    --bronze7: 17 26.9% 75.6%;
    --bronze8: 17 25.1% 66.5%;
    --bronze9: 17 20% 54%;
    --bronze10: 17 18.1% 50.1%;
    --bronze11: 15 20% 43.1%;
    --bronze12: 12 22% 21.5%;

    --gold1: 50 20% 99.1%;
    --gold2: 47 52.9% 96.7%;
    --gold3: 46 38.2% 93.7%;
    --gold4: 44 32.7% 90.1%;
    --gold5: 43 29.9% 85.7%;
    --gold6: 41 28.3% 79.8%;
    --gold7: 39 27.6% 71.9%;
    --gold8: 36 27.2% 61.8%;
    --gold9: 36 20% 49.5%;
    --gold10: 36 19.8% 45.7%;
    --gold11: 36 20% 39%;
    --gold12: 36 16% 20%;
  }

  .dark {
    --gray1: 0 0% 8.5%;
    --gray2: 0 0% 11%;
    --gray3: 0 0% 13.6%;
    --gray4: 0 0% 15.8%;
    --gray5: 0 0% 17.9%;
    --gray6: 0 0% 20.5%;
    --gray7: 0 0% 24.3%;
    --gray8: 0 0% 31.2%;
    --gray9: 0 0% 43.9%;
    --gray10: 0 0% 49.4%;
    --gray11: 0 0% 62.8%;
    --gray12: 0 0% 93%;

    --mauve1: 246 6% 9%;
    --mauve2: 240 5.1% 11.6%;
    --mauve3: 241 5% 14.3%;
    --mauve4: 242 4.9% 16.5%;
    --mauve5: 243 4.9% 18.8%;
    --mauve6: 244 4.9% 21.5%;
    --mauve7: 245 4.9% 25.4%;
    --mauve8: 247 4.8% 32.5%;
    --mauve9: 252 4% 45.2%;
    --mauve10: 247 3.4% 50.7%;
    --mauve11: 253 4% 63.7%;
    --mauve12: 256 6% 93.2%;

    --slate1: 200 7% 8.8%;
    --slate2: 195 7.1% 11%;
    --slate3: 197 6.8% 13.6%;
    --slate4: 198 6.6% 15.8%;
    --slate5: 199 6.4% 17.9%;
    --slate6: 201 6.2% 20.5%;
    --slate7: 203 6% 24.3%;
    --slate8: 207 5.6% 31.6%;
    --slate9: 206 6% 43.9%;
    --slate10: 206 5.2% 49.5%;
    --slate11: 206 6% 63%;
    --slate12: 210 6% 93%;

    --sage1: 155 7% 8.4%;
    --sage2: 150 7.4% 10.6%;
    --sage3: 150 6.7% 13.1%;
    --sage4: 150 6.4% 15.3%;
    --sage5: 150 6.1% 17.4%;
    --sage6: 150 5.8% 19.9%;
    --sage7: 150 5.5% 23.6%;
    --sage8: 150 5.1% 30.6%;
    --sage9: 155 6% 42.5%;
    --sage10: 153 4.8% 48.2%;
    --sage11: 155 5% 61.8%;
    --sage12: 155 6% 93%;

    --olive1: 110 5% 8.6%;
    --olive2: 105 7.4% 10.6%;
    --olive3: 106 6.4% 13.1%;
    --olive4: 106 5.8% 15.3%;
    --olive5: 107 5.3% 17.4%;
    --olive6: 107 4.9% 19.9%;
    --olive7: 108 4.4% 23.6%;
    --olive8: 110 3.8% 30.6%;
    --olive9: 110 6% 42.5%;
    --olive10: 111 4.8% 48.2%;
    --olive11: 110 5% 61.8%;
    --olive12: 110 6% 93%;

    --sand1: 61 2% 8.3%;
    --sand2: 60 3.7% 10.6%;
    --sand3: 58 3.7% 13.1%;
    --sand4: 57 3.6% 15.3%;
    --sand5: 56 3.7% 17.4%;
    --sand6: 55 3.7% 19.9%;
    --sand7: 53 3.7% 23.6%;
    --sand8: 50 3.8% 30.6%;
    --sand9: 50 4% 42.7%;
    --sand10: 52 3.1% 48.3%;
    --sand11: 50 4% 61.8%;
    --sand12: 56 4% 92.8%;

    --tomato1: 10 23% 9.4%;
    --tomato2: 9 44.8% 11.4%;
    --tomato3: 8 52% 15.3%;
    --tomato4: 7 56.3% 18%;
    --tomato5: 7 60.1% 20.6%;
    --tomato6: 8 64.8% 24%;
    --tomato7: 8 71.2% 29.1%;
    --tomato8: 10 80.2% 35.7%;
    --tomato9: 10 78% 54%;
    --tomato10: 10 81.7% 59%;
    --tomato11: 10 85% 62.8%;
    --tomato12: 10 89% 96%;

    --red1: 353 23% 9.8%;
    --red2: 357 34.4% 12%;
    --red3: 356 43.4% 16.4%;
    --red4: 356 47.6% 19.2%;
    --red5: 356 51.1% 21.9%;
    --red6: 356 55.2% 25.9%;
    --red7: 357 60.2% 31.8%;
    --red8: 358 65% 40.4%;
    --red9: 358 75% 59%;
    --red10: 358 85.3% 64%;
    --red11: 358 100% 69.5%;
    --red12: 351 89% 96%;

    --crimson1: 335 20% 9.6%;
    --crimson2: 335 32.2% 11.6%;
    --crimson3: 335 42.5% 16.5%;
    --crimson4: 335 47.2% 19.3%;
    --crimson5: 335 50.9% 21.8%;
    --crimson6: 335 55.7% 25.3%;
    --crimson7: 336 62.9% 30.8%;
    --crimson8: 336 74.9% 39%;
    --crimson9: 336 80% 57.8%;
    --crimson10: 339 84.1% 62.6%;
    --crimson11: 341 90% 67.3%;
    --crimson12: 332 87% 96%;

    --pink1: 318 25% 9.6%;
    --pink2: 319 32.2% 11.6%;
    --pink3: 319 41% 16%;
    --pink4: 320 45.4% 18.7%;
    --pink5: 320 49% 21.1%;
    --pink6: 321 53.6% 24.4%;
    --pink7: 321 61.1% 29.7%;
    --pink8: 322 74.9% 37.5%;
    --pink9: 322 65% 54.5%;
    --pink10: 323 72.8% 59.2%;
    --pink11: 325 90% 66.4%;
    --pink12: 322 90% 95.8%;

    --plum1: 301 20% 9.4%;
    --plum2: 300 29.8% 11.2%;
    --plum3: 298 34.4% 15.3%;
    --plum4: 297 36.8% 18.3%;
    --plum5: 296 38.5% 21.1%;
    --plum6: 295 40.4% 24.7%;
    --plum7: 294 42.7% 30.6%;
    --plum8: 292 45.1% 40%;
    --plum9: 292 45% 51%;
    --plum10: 295 50% 55.4%;
    --plum11: 300 60% 62%;
    --plum12: 296 74% 95.7%;

    --purple1: 284 20% 9.6%;
    --purple2: 283 30% 11.8%;
    --purple3: 281 37.5% 16.5%;
    --purple4: 280 41.2% 20%;
    --purple5: 279 43.8% 23.3%;
    --purple6: 277 46.4% 27.5%;
    --purple7: 275 49.3% 34.6%;
    --purple8: 272 52.1% 45.9%;
    --purple9: 272 51% 54%;
    --purple10: 273 57.3% 59.1%;
    --purple11: 275 80% 71%;
    --purple12: 279 75% 95.7%;

    --violet1: 250 20% 10.2%;
    --violet2: 255 30.3% 12.9%;
    --violet3: 253 37% 18.4%;
    --violet4: 252 40.1% 22.5%;
    --violet5: 252 42.2% 26.2%;
    --violet6: 251 44.3% 31.1%;
    --violet7: 250 46.8% 38.9%;
    --violet8: 250 51.8% 51.2%;
    --violet9: 252 56% 57.5%;
    --violet10: 251 63.2% 63.2%;
    --violet11: 250 95% 76.8%;
    --violet12: 252 87% 96.4%;

    --indigo1: 229 24% 10%;
    --indigo2: 230 36.4% 12.9%;
    --indigo3: 228 43.3% 17.5%;
    --indigo4: 227 47.2% 21%;
    --indigo5: 227 50% 24.1%;
    --indigo6: 226 52.9% 28.2%;
    --indigo7: 226 56% 34.5%;
    --indigo8: 226 58.2% 44.1%;
    --indigo9: 226 70% 55.5%;
    --indigo10: 227 75.2% 61.6%;
    --indigo11: 228 100% 75.9%;
    --indigo12: 226 83% 96.3%;

    --blue1: 212 35% 9.2%;
    --blue2: 216 50% 11.8%;
    --blue3: 214 59.4% 15.3%;
    --blue4: 214 65.8% 17.9%;
    --blue5: 213 71.2% 20.2%;
    --blue6: 212 77.4% 23.1%;
    --blue7: 211 85.1% 27.4%;
    --blue8: 211 89.7% 34.1%;
    --blue9: 206 100% 50%;
    --blue10: 209 100% 60.6%;
    --blue11: 210 100% 66.1%;
    --blue12: 206 98% 95.8%;

    --sky1: 205 45% 8.6%;
    --sky2: 202 71.4% 9.6%;
    --sky3: 201 74.6% 12.2%;
    --sky4: 201 77.4% 14.4%;
    --sky5: 200 80.3% 16.5%;
    --sky6: 200 84.1% 18.9%;
    --sky7: 199 90.2% 22.1%;
    --sky8: 198 100% 26.1%;
    --sky9: 193 98% 70%;
    --sky10: 192 100% 77%;
    --sky11: 192 85% 55.8%;
    --sky12: 198 98% 95.8%;

    --mint1: 173 50% 6.6%;
    --mint2: 176 73% 7.3%;
    --mint3: 175 79.3% 8.9%;
    --mint4: 174 84.8% 10.3%;
    --mint5: 174 90.2% 11.9%;
    --mint6: 173 96% 13.8%;
    --mint7: 172 100% 16.8%;
    --mint8: 170 100% 21.4%;
    --mint9: 167 65% 66%;
    --mint10: 163 80% 77%;
    --mint11: 167 70% 48%;
    --mint12: 165 80% 94.8%;

    --cyan1: 192 60% 7.2%;
    --cyan2: 192 71.4% 8.2%;
    --cyan3: 192 75.9% 10.8%;
    --cyan4: 192 79.3% 12.8%;
    --cyan5: 192 82.5% 14.6%;
    --cyan6: 192 86.6% 16.9%;
    --cyan7: 192 92.6% 20.1%;
    --cyan8: 192 100% 24.5%;
    --cyan9: 190 95% 39%;
    --cyan10: 188 100% 40%;
    --cyan11: 186 100% 42.2%;
    --cyan12: 185 73% 93.2%;

    --teal1: 168 48% 6.5%;
    --teal2: 169 77.8% 7.1%;
    --teal3: 170 76.1% 9.2%;
    --teal4: 171 75.8% 11%;
    --teal5: 171 75.7% 12.8%;
    --teal6: 172 75.8% 15.1%;
    --teal7: 172 76.7% 18.6%;
    --teal8: 173 80.2% 23.7%;
    --teal9: 173 80% 36%;
    --teal10: 174 83.9% 38.2%;
    --teal11: 174 90% 40.7%;
    --teal12: 166 73% 93.1%;

    --green1: 146 30% 7.4%;
    --green2: 155 44.2% 8.4%;
    --green3: 155 46.7% 10.9%;
    --green4: 154 48.4% 12.9%;
    --green5: 154 49.7% 14.9%;
    --green6: 154 50.9% 17.6%;
    --green7: 153 51.8% 21.8%;
    --green8: 151 51.7% 28.4%;
    --green9: 151 55% 41.5%;
    --green10: 151 49.3% 46.5%;
    --green11: 151 50% 53.2%;
    --green12: 137 72% 94%;

    --grass1: 146 30% 7.4%;
    --grass2: 136 33.3% 8.8%;
    --grass3: 137 36% 11.4%;
    --grass4: 137 37.6% 13.7%;
    --grass5: 136 38.7% 16%;
    --grass6: 135 39.6% 19.1%;
    --grass7: 134 40.3% 23.8%;
    --grass8: 131 40.1% 30.8%;
    --grass9: 131 41% 46.5%;
    --grass10: 131 39% 52.1%;
    --grass11: 131 43% 57.2%;
    --grass12: 137 72% 94%;

    --lime1: 75 55% 6%;
    --lime2: 74 56.8% 7.3%;
    --lime3: 78 50.2% 9.9%;
    --lime4: 79 50.3% 12.1%;
    --lime5: 79 52.6% 14.2%;
    --lime6: 78 55.7% 16.7%;
    --lime7: 77 59.7% 20.1%;
    --lime8: 75 64.8% 24.5%;
    --lime9: 81 67% 50%;
    --lime10: 75 85% 60%;
    --lime11: 81 70% 43.8%;
    --lime12: 84 79% 92.6%;

    --yellow1: 45 100% 5.5%;
    --yellow2: 46 100% 6.7%;
    --yellow3: 45 100% 8.7%;
    --yellow4: 45 100% 10.4%;
    --yellow5: 47 100% 12.1%;
    --yellow6: 49 100% 14.3%;
    --yellow7: 49 90.3% 18.4%;
    --yellow8: 50 100% 22%;
    --yellow9: 53 92% 50%;
    --yellow10: 54 100% 68%;
    --yellow11: 48 100% 47%;
    --yellow12: 53 100% 91%;

    --amber1: 36 100% 6.1%;
    --amber2: 35 100% 7.6%;
    --amber3: 32 100% 10.2%;
    --amber4: 32 100% 12.4%;
    --amber5: 33 100% 14.6%;
    --amber6: 35 100% 17.1%;
    --amber7: 35 91% 21.6%;
    --amber8: 36 100% 25.5%;
    --amber9: 39 100% 57%;
    --amber10: 43 100% 64%;
    --amber11: 39 90% 49.8%;
    --amber12: 39 97% 93.2%;

    --orange1: 30 70% 7.2%;
    --orange2: 28 100% 8.4%;
    --orange3: 26 91.1% 11.6%;
    --orange4: 25 88.3% 14.1%;
    --orange5: 24 87.6% 16.6%;
    --orange6: 24 88.6% 19.8%;
    --orange7: 24 92.4% 24%;
    --orange8: 25 100% 29%;
    --orange9: 24 94% 50%;
    --orange10: 24 100% 58.5%;
    --orange11: 24 100% 62.2%;
    --orange12: 24 97% 93.2%;

    --brown1: 22 15% 8.7%;
    --brown2: 20 28.3% 10.4%;
    --brown3: 20 28% 14%;
    --brown4: 21 28.4% 16.5%;
    --brown5: 22 28.7% 18.9%;
    --brown6: 23 29% 22.3%;
    --brown7: 25 29.5% 27.8%;
    --brown8: 27 30.1% 35.9%;
    --brown9: 28 34% 51%;
    --brown10: 28 41.4% 55.8%;
    --brown11: 28 60% 64.5%;
    --brown12: 30 67% 94%;

    --bronze1: 17 10% 8.8%;
    --bronze2: 15 14.8% 10.6%;
    --bronze3: 15 16.3% 14.3%;
    --bronze4: 16 17.1% 17.2%;
    --bronze5: 16 17.6% 19.6%;
    --bronze6: 16 18.1% 22.9%;
    --bronze7: 17 18.8% 28.8%;
    --bronze8: 17 19.6% 38%;
    --bronze9: 17 20% 54%;
    --bronze10: 18 24% 59%;
    --bronze11: 18 35% 68.5%;
    --bronze12: 18 57% 94.1%;

    --gold1: 44 9% 8.3%;
    --gold2: 43 14.3% 9.6%;
    --gold3: 42 15.5% 13%;
    --gold4: 41 16.4% 15.6%;
    --gold5: 41 16.9% 17.8%;
    --gold6: 40 17.6% 20.8%;
    --gold7: 38 18.5% 26.4%;
    --gold8: 36 19.6% 35.1%;
    --gold9: 36 20% 49.5%;
    --gold10: 36 22.3% 54.5%;
    --gold11: 35 30% 64%;
    --gold12: 49 52% 93.8%;
  }
}

@layer base {
  body {
    @apply bg-greyBase text-greyTextContrast;
  }
}
