@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CUSTOM COLORS */
    /* GRAY */
    --grey1: 0 0% 99%;
    --grey2: 0 0% 97.3%;
    --grey3: 0 0% 95.1%;
    --grey4: 0 0% 93%;
    --grey5: 0 0% 90.9%;
    --grey6: 0 0% 88.7%;
    --grey7: 0 0% 85.8%;
    --grey8: 0 0% 78%;
    --grey9: 0 0% 56.1%;
    --grey10: 0 0% 52.3%;
    --grey11: 0 0% 43.5%;
    --grey12: 0 0% 9%;

    /* DEFAULT COLORS */

    --gray-1: 0, 0%, 98.8%;
    --gray-2: 0, 0%, 97.6%;
    --gray-3: 0, 0%, 94.5%;
    --gray-4: 0, 0%, 92.2%;
    --gray-5: 0, 0%, 89.4%;
    --gray-6: 0, 0%, 86.7%;
    --gray-7: 0, 0%, 83.1%;
    --gray-8: 0, 0%, 73.3%;
    --gray-9: 0, 0%, 55.3%;
    --gray-10: 0, 0%, 50.2%;
    --gray-11: 0, 0%, 39.2%;
    --gray-12: 0, 0%, 12.5%;

    --mauve-1: 300, 20%, 99%;
    --mauve-2: 270, 20%, 98%;
    --mauve-3: 270, 16.7%, 95.3%;
    --mauve-4: 264, 13.5%, 92.7%;
    --mauve-5: 270, 12%, 90.2%;
    --mauve-6: 265.7, 11.1%, 87.6%;
    --mauve-7: 255, 10%, 84.3%;
    --mauve-8: 249.2, 10.4%, 75.5%;
    --mauve-9: 249.2, 6%, 57.5%;
    --mauve-10: 250, 4.9%, 52.2%;
    --mauve-11: 252, 4.8%, 40.8%;
    --mauve-12: 257.1, 10.1%, 13.5%;

    --slate-1: 240, 20%, 99%;
    --slate-2: 240, 20%, 98%;
    --slate-3: 240, 13%, 95.5%;
    --slate-4: 240, 11.1%, 92.9%;
    --slate-5: 240, 10.2%, 90.4%;
    --slate-6: 240, 9.7%, 87.8%;
    --slate-7: 232.5, 10%, 84.3%;
    --slate-8: 230.8, 10.2%, 75.1%;
    --slate-9: 230.8, 5.9%, 57.1%;
    --slate-10: 230, 4.9%, 51.8%;
    --slate-11: 220, 5.9%, 40%;
    --slate-12: 210, 12.5%, 12.5%;

    --sage-1: 150, 33.3%, 98.8%;
    --sage-2: 150, 14.3%, 97.3%;
    --sage-3: 150, 7.1%, 94.5%;
    --sage-4: 160, 7.3%, 92%;
    --sage-5: 140, 5.7%, 89.6%;
    --sage-6: 140, 4.5%, 86.9%;
    --sage-7: 140, 3.4%, 82.9%;
    --sage-8: 150, 2.9%, 72.9%;
    --sage-9: 157.5, 3.4%, 54.1%;
    --sage-10: 162.9, 2.8%, 49.2%;
    --sage-11: 160, 3.1%, 38.4%;
    --sage-12: 154.3, 11.9%, 11.6%;

    --olive-1: 120, 20%, 99%;
    --olive-2: 120, 16.7%, 97.6%;
    --olive-3: 120, 7.7%, 94.9%;
    --olive-4: 120, 5%, 92.2%;
    --olive-5: 120, 3.7%, 89.4%;
    --olive-6: 120, 4.3%, 86.5%;
    --olive-7: 100, 3.4%, 82.5%;
    --olive-8: 105, 2.9%, 72.9%;
    --olive-9: 102.9, 3%, 54.3%;
    --olive-10: 110, 2.4%, 49.4%;
    --olive-11: 110, 3.1%, 38.4%;
    --olive-12: 108, 8.2%, 12%;

    --sand-1: 60, 20%, 99%;
    --sand-2: 60, 7.7%, 97.5%;
    --sand-3: 60, 7.1%, 94.5%;
    --sand-4: 60, 4.8%, 91.8%;
    --sand-5: 60, 3.6%, 89%;
    --sand-6: 60, 4.2%, 86.1%;
    --sand-7: 48, 5.4%, 81.8%;
    --sand-8: 51.4, 5%, 72.4%;
    --sand-9: 60, 3%, 53.9%;
    --sand-10: 60, 2.4%, 49%;
    --sand-11: 60, 2.6%, 37.8%;
    --sand-12: 48, 8.2%, 12%;

    --tomato-1: 0, 100%, 99.4%;
    --tomato-2: 7.5, 100%, 98.4%;
    --tomato-3: 7.1, 100%, 96.7%;
    --tomato-4: 8.3, 100%, 94.3%;
    --tomato-5: 7.1, 91.3%, 91%;
    --tomato-6: 9, 85.7%, 86.3%;
    --tomato-7: 10.4, 77.1%, 79.4%;
    --tomato-8: 10.2, 71.6%, 71%;
    --tomato-9: 10.2, 77.9%, 53.9%;
    --tomato-10: 10, 71.4%, 49.4%;
    --tomato-11: 10.2, 82.2%, 42%;
    --tomato-12: 7.9, 49.6%, 24.1%;

    --red-1: 0, 100%, 99.4%;
    --red-2: 0, 100%, 98.4%;
    --red-3: 0, 100%, 96.9%;
    --red-4: 0, 100%, 94.9%;
    --red-5: 0, 90.2%, 92%;
    --red-6: 0, 81%, 87.6%;
    --red-7: 359.1, 74.2%, 81.8%;
    --red-8: 359.3, 69.5%, 74.3%;
    --red-9: 358.1, 75.1%, 59%;
    --red-10: 358.1, 67.2%, 54.5%;
    --red-11: 358.1, 65%, 47.1%;
    --red-12: 350.6, 62.6%, 24.1%;

    --ruby-1: 340, 100%, 99.4%;
    --ruby-2: 345, 100%, 98.4%;
    --ruby-3: 344, 88.2%, 96.7%;
    --ruby-4: 347.5, 85.7%, 94.5%;
    --ruby-5: 345.9, 77.3%, 91.4%;
    --ruby-6: 347, 69.7%, 87.1%;
    --ruby-7: 347.6, 64.9%, 81%;
    --ruby-8: 348.4, 61.5%, 73.5%;
    --ruby-9: 347.9, 75.4%, 58.6%;
    --ruby-10: 347.3, 68.4%, 54.1%;
    --ruby-11: 345.2, 69.7%, 46.7%;
    --ruby-12: 344.4, 62.6%, 24.1%;

    --crimson-1: 340, 100%, 99.4%;
    --crimson-2: 330, 100%, 98.4%;
    --crimson-3: 332, 88.2%, 96.7%;
    --crimson-4: 331.3, 79.3%, 94.3%;
    --crimson-5: 332.7, 73.3%, 91.2%;
    --crimson-6: 332.6, 67.6%, 86.7%;
    --crimson-7: 334.7, 64%, 80.4%;
    --crimson-8: 336.3, 62.3%, 72.9%;
    --crimson-9: 335.9, 79.6%, 57.6%;
    --crimson-10: 336.1, 71%, 52.7%;
    --crimson-11: 335.9, 75%, 45.5%;
    --crimson-12: 332.4, 63.3%, 23.5%;

    --pink-1: 320, 100%, 99.4%;
    --pink-2: 322.5, 100%, 98.4%;
    --pink-3: 322.5, 88.9%, 96.5%;
    --pink-4: 323.5, 79.3%, 94.3%;
    --pink-5: 323.6, 73.3%, 91.2%;
    --pink-6: 322.7, 65.2%, 86.5%;
    --pink-7: 322.9, 62.4%, 80.2%;
    --pink-8: 322.6, 60.3%, 72.4%;
    --pink-9: 322, 64.7%, 54.5%;
    --pink-10: 322.2, 62.1%, 49.6%;
    --pink-11: 321.8, 75%, 43.9%;
    --pink-12: 320.2, 69.7%, 23.3%;

    --plum-1: 280, 100%, 99.4%;
    --plum-2: 300, 100%, 98.6%;
    --plum-3: 300, 68.4%, 96.3%;
    --plum-4: 300, 62.5%, 93.7%;
    --plum-5: 297.8, 55.1%, 90.4%;
    --plum-6: 296.8, 50.7%, 85.7%;
    --plum-7: 295.4, 48.1%, 78.8%;
    --plum-8: 292.4, 47.7%, 70.8%;
    --plum-9: 292, 44.8%, 51%;
    --plum-10: 292, 50%, 47.1%;
    --plum-11: 292.2, 60.2%, 42.4%;
    --plum-12: 291.2, 57.6%, 23.1%;

    --purple-1: 300, 50%, 99.2%;
    --purple-2: 276, 100%, 99%;
    --purple-3: 276.9, 86.7%, 97.1%;
    --purple-4: 274.3, 77.8%, 94.7%;
    --purple-5: 276, 71.4%, 91.8%;
    --purple-6: 274.5, 64.5%, 87.8%;
    --purple-7: 272.6, 61.3%, 81.8%;
    --purple-8: 271.9, 60%, 73.5%;
    --purple-9: 272, 51.3%, 54.1%;
    --purple-10: 271.8, 47%, 50.4%;
    --purple-11: 272.3, 50.2%, 45.7%;
    --purple-12: 270, 50%, 25.1%;

    --violet-1: 270, 50%, 99.2%;
    --violet-2: 252, 100%, 99%;
    --violet-3: 253.8, 100%, 97.5%;
    --violet-4: 251.4, 91.3%, 95.5%;
    --violet-5: 252, 83.3%, 92.9%;
    --violet-6: 251.4, 77.8%, 89.4%;
    --violet-7: 252.2, 71.1%, 83.7%;
    --violet-8: 252.3, 68.6%, 76.3%;
    --violet-9: 251.9, 55.8%, 57.5%;
    --violet-10: 251.1, 47.9%, 53.3%;
    --violet-11: 249.7, 42.9%, 48%;
    --violet-12: 249.5, 42.9%, 26.1%;

    --iris-1: 240, 100%, 99.6%;
    --iris-2: 240, 100%, 99%;
    --iris-3: 240, 100%, 97.6%;
    --iris-4: 240, 90.5%, 95.9%;
    --iris-5: 240, 87.9%, 93.5%;
    --iris-6: 240, 80.8%, 89.8%;
    --iris-7: 239, 74.7%, 84.5%;
    --iris-8: 237.9, 73.9%, 77.5%;
    --iris-9: 240, 60%, 59.8%;
    --iris-10: 240, 55.7%, 56.7%;
    --iris-11: 240, 50.2%, 52%;
    --iris-12: 238, 43.1%, 26.9%;

    --indigo-1: 240, 33.3%, 99.4%;
    --indigo-2: 222.9, 100%, 98.6%;
    --indigo-3: 224, 100%, 97.1%;
    --indigo-4: 222.5, 92.3%, 94.9%;
    --indigo-5: 224.6, 85.4%, 92%;
    --indigo-6: 223.5, 81%, 87.6%;
    --indigo-7: 224.8, 78%, 82.2%;
    --indigo-8: 225.9, 75.4%, 74.5%;
    --indigo-9: 226, 70%, 55.5%;
    --indigo-10: 226, 58.9%, 51.4%;
    --indigo-11: 226.2, 54.8%, 45.1%;
    --indigo-12: 226.2, 49.6%, 24.1%;

    --blue-1: 210, 100%, 99.2%;
    --blue-2: 210, 100%, 98%;
    --blue-3: 210, 100%, 96.5%;
    --blue-4: 210, 100%, 94.1%;
    --blue-5: 208.8, 96%, 90.2%;
    --blue-6: 208.6, 82.3%, 84.5%;
    --blue-7: 208, 78%, 76.9%;
    --blue-8: 206.1, 81.9%, 65.3%;
    --blue-9: 205.9, 100%, 50%;
    --blue-10: 208.1, 93.4%, 47.5%;
    --blue-11: 210.9, 89.7%, 42%;
    --blue-12: 216.1, 70.9%, 22.9%;

    --cyan-1: 195, 66.7%, 98.8%;
    --cyan-2: 185.5, 73.3%, 97.1%;
    --cyan-3: 186, 71.4%, 94.5%;
    --cyan-4: 186, 62.5%, 90.6%;
    --cyan-5: 187, 57.3%, 85.3%;
    --cyan-6: 188, 54.5%, 78.4%;
    --cyan-7: 189.1, 53.8%, 68.6%;
    --cyan-8: 189, 60.3%, 52.5%;
    --cyan-9: 190.2, 95%, 39%;
    --cyan-10: 190.9, 91.4%, 36.7%;
    --cyan-11: 192.1, 84.8%, 31%;
    --cyan-12: 192.2, 69.4%, 16.7%;

    --teal-1: 165, 66.7%, 98.8%;
    --teal-2: 169.1, 64.7%, 96.7%;
    --teal-3: 166.7, 60%, 94.1%;
    --teal-4: 168.5, 52%, 90.2%;
    --teal-5: 170, 47.4%, 85.1%;
    --teal-6: 170, 42.9%, 78%;
    --teal-7: 169.8, 39.9%, 68%;
    --teal-8: 171.8, 42.1%, 52.5%;
    --teal-9: 173.1, 80.3%, 35.9%;
    --teal-10: 173, 83.1%, 32.5%;
    --teal-11: 174.3, 90.6%, 25.1%;
    --teal-12: 173.8, 64.9%, 14.5%;

    --jade-1: 160, 60%, 99%;
    --jade-2: 150, 77.8%, 96.5%;
    --jade-3: 150, 68.8%, 93.7%;
    --jade-4: 151, 56.9%, 90%;
    --jade-5: 153.2, 50%, 85.1%;
    --jade-6: 155, 43.6%, 78.4%;
    --jade-7: 159.4, 40%, 68.6%;
    --jade-8: 163.8, 42%, 53.3%;
    --jade-9: 164.3, 59.8%, 40%;
    --jade-10: 164.1, 60.4%, 36.7%;
    --jade-11: 162.5, 64.9%, 29%;
    --jade-12: 160, 34.1%, 17.3%;

    --green-1: 140, 60%, 99%;
    --green-2: 138, 62.5%, 96.9%;
    --green-3: 138.8, 57.1%, 94.5%;
    --green-4: 139.1, 47.8%, 91%;
    --green-5: 141.3, 43.7%, 86.1%;
    --green-6: 142.3, 40.2%, 79%;
    --green-7: 146, 38%, 69%;
    --green-8: 151.3, 40.2%, 54.1%;
    --green-9: 151, 54.7%, 41.6%;
    --green-10: 152.2, 57.3%, 37.6%;
    --green-11: 153.4, 66.9%, 28.4%;
    --green-12: 155.3, 40.5%, 16.5%;

    --grass-1: 120, 60%, 99%;
    --grass-2: 120, 60%, 97.1%;
    --grass-3: 120, 53.8%, 94.9%;
    --grass-4: 120, 45.5%, 91.4%;
    --grass-5: 122.1, 42%, 86.5%;
    --grass-6: 124.5, 38.5%, 79.6%;
    --grass-7: 125.4, 36.8%, 70.2%;
    --grass-8: 131.3, 38.1%, 56.3%;
    --grass-9: 131.1, 40.9%, 46.5%;
    --grass-10: 132.3, 43.3%, 42.2%;
    --grass-11: 133, 50.3%, 32.4%;
    --grass-12: 130.7, 30.4%, 18%;

    --bronze-1: 0, 20%, 99%;
    --bronze-2: 17.1, 63.6%, 97.8%;
    --bronze-3: 18, 41.7%, 95.3%;
    --bronze-4: 17.1, 35%, 92.2%;
    --bronze-5: 18.9, 31.1%, 88%;
    --bronze-6: 16.8, 28.7%, 82.9%;
    --bronze-7: 17.6, 27.4%, 75.7%;
    --bronze-8: 16.7, 25.1%, 66.5%;
    --bronze-9: 17.9, 20%, 53.9%;
    --bronze-10: 17.3, 17.9%, 49.2%;
    --bronze-11: 14.6, 19.6%, 41%;
    --bronze-12: 12.5, 21.8%, 21.6%;

    --gold-1: 60, 20%, 99%;
    --gold-2: 46.7, 52.9%, 96.7%;
    --gold-3: 45, 37.5%, 93.7%;
    --gold-4: 45.9, 33.3%, 90%;
    --gold-5: 42.9, 28.8%, 85.7%;
    --gold-6: 41.4, 28.2%, 79.8%;
    --gold-7: 38.5, 27.3%, 72%;
    --gold-8: 36.2, 27.2%, 61.8%;
    --gold-9: 36, 19.8%, 49.4%;
    --gold-10: 36, 19.7%, 44.9%;
    --gold-11: 36.3, 20.2%, 36.9%;
    --gold-12: 37.5, 15.7%, 20%;

    --brown-1: 30, 50%, 99.2%;
    --brown-2: 30, 50%, 97.6%;
    --brown-3: 30, 50%, 94.5%;
    --brown-4: 31.3, 51.1%, 91.2%;
    --brown-5: 29.1, 52.2%, 86.9%;
    --brown-6: 28.2, 52.6%, 81%;
    --brown-7: 28.7, 51.1%, 72.7%;
    --brown-8: 28.1, 50%, 63.1%;
    --brown-9: 27.5, 34.1%, 51.2%;
    --brown-10: 26.1, 31.7%, 47.1%;
    --brown-11: 24.4, 29.6%, 39%;
    --brown-12: 18.8, 14.8%, 21.2%;

    --orange-1: 20, 60%, 99%;
    --orange-2: 21.8, 100%, 97.8%;
    --orange-3: 34.3, 100%, 91.8%;
    --orange-4: 32.6, 100%, 86.7%;
    --orange-5: 31, 100%, 82.2%;
    --orange-6: 26.7, 100%, 78.4%;
    --orange-7: 20.8, 100%, 74.5%;
    --orange-8: 19, 80.1%, 64.5%;
    --orange-9: 24.1, 93.7%, 50%;
    --orange-10: 24.1, 100%, 46.5%;
    --orange-11: 16.4, 45%, 41.4%;
    --orange-12: 16.3, 50.4%, 22.9%;

    --amber-1: 40, 60%, 99%;
    --amber-2: 40, 100%, 96.5%;
    --amber-3: 44.7, 100%, 90.8%;
    --amber-4: 44.2, 100%, 85.9%;
    --amber-5: 40.2, 100%, 81.6%;
    --amber-6: 38.9, 84%, 75.5%;
    --amber-7: 37.2, 66.7%, 68.2%;
    --amber-8: 34.9, 59.8%, 60%;
    --amber-9: 42.1, 100%, 62%;
    --amber-10: 42, 100%, 54.9%;
    --amber-11: 25.4, 50.3%, 37.8%;
    --amber-12: 24, 39.8%, 22.2%;

    --yellow-1: 60, 50%, 98.4%;
    --yellow-2: 52.3, 100%, 93.9%;
    --yellow-3: 52.6, 100%, 88.8%;
    --yellow-4: 53, 92.8%, 83.7%;
    --yellow-5: 51.5, 85.2%, 78.8%;
    --yellow-6: 51.3, 73%, 72.4%;
    --yellow-7: 48.3, 59.3%, 64.3%;
    --yellow-8: 45.9, 55%, 52.9%;
    --yellow-9: 53, 96.3%, 58%;
    --yellow-10: 52, 95.1%, 52%;
    --yellow-11: 41.8, 49.7%, 31.2%;
    --yellow-12: 42, 39.2%, 20%;

    --lime-1: 80, 42.9%, 98.6%;
    --lime-2: 85, 66.7%, 96.5%;
    --lime-3: 84.4, 76.2%, 91.8%;
    --lime-4: 83.3, 71%, 86.5%;
    --lime-5: 83.2, 63.3%, 80.8%;
    --lime-6: 80.9, 51.1%, 73.5%;
    --lime-7: 79.2, 41.4%, 64.5%;
    --lime-8: 77.1, 40.2%, 52.2%;
    --lime-9: 81.2, 80.3%, 66.1%;
    --lime-10: 81.2, 75.4%, 60.2%;
    --lime-11: 75, 40.5%, 29%;
    --lime-12: 75, 39.1%, 18%;

    --mint-1: 168, 71.4%, 98.6%;
    --mint-2: 164, 88.2%, 96.7%;
    --mint-3: 164, 78.9%, 92.5%;
    --mint-4: 164.7, 72.9%, 88.4%;
    --mint-5: 165.9, 60%, 83.3%;
    --mint-6: 165.8, 49.6%, 76.7%;
    --mint-7: 166, 43.7%, 67.3%;
    --mint-8: 167.8, 45%, 52.9%;
    --mint-9: 166.8, 70.4%, 72.2%;
    --mint-10: 167.1, 62%, 69%;
    --mint-11: 171.5, 50%, 30.6%;
    --mint-12: 170.7, 50.6%, 17.5%;

    --sky-1: 190, 100%, 98.8%;
    --sky-2: 192.9, 100%, 97.3%;
    --sky-3: 192.4, 100%, 94.3%;
    --sky-4: 192.6, 91.5%, 90.8%;
    --sky-5: 193.7, 80.3%, 86.1%;
    --sky-6: 194.2, 66.7%, 78.8%;
    --sky-7: 194, 60.3%, 69.4%;
    --sky-8: 193.2, 65.2%, 56.1%;
    --sky-9: 192.9, 98.5%, 74.1%;
    --sky-10: 193, 90.5%, 71%;
    --sky-11: 200.2, 59.8%, 36.1%;
    --sky-12: 195.3, 49.5%, 20.2%;
  }
}
