@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  :root {
  }

  .dark {
    --colors-gray1: 0 0% 8.5%;
    --colors-gray2: 0 0% 11%;
    --colors-gray3: 0 0% 13.6%;
    --colors-gray4: 0 0% 15.8%;
    --colors-gray5: 0 0% 17.9%;
    --colors-gray6: 0 0% 20.5%;
    --colors-gray7: 0 0% 24.3%;
    --colors-gray8: 0 0% 31.2%;
    --colors-gray9: 0 0% 43.9%;
    --colors-gray10: 0 0% 49.4%;
    --colors-gray11: 0 0% 62.8%;
    --colors-gray12: 0 0% 93%;

    --colors-mauve1: 246 6% 9%;
    --colors-mauve2: 240 5.1% 11.6%;
    --colors-mauve3: 241 5% 14.3%;
    --colors-mauve4: 242 4.9% 16.5%;
    --colors-mauve5: 243 4.9% 18.8%;
    --colors-mauve6: 244 4.9% 21.5%;
    --colors-mauve7: 245 4.9% 25.4%;
    --colors-mauve8: 247 4.8% 32.5%;
    --colors-mauve9: 252 4% 45.2%;
    --colors-mauve10: 247 3.4% 50.7%;
    --colors-mauve11: 253 4% 63.7%;
    --colors-mauve12: 256 6% 93.2%;

    --colors-slate1: 200 7% 8.8%;
    --colors-slate2: 195 7.1% 11%;
    --colors-slate3: 197 6.8% 13.6%;
    --colors-slate4: 198 6.6% 15.8%;
    --colors-slate5: 199 6.4% 17.9%;
    --colors-slate6: 201 6.2% 20.5%;
    --colors-slate7: 203 6% 24.3%;
    --colors-slate8: 207 5.6% 31.6%;
    --colors-slate9: 206 6% 43.9%;
    --colors-slate10: 206 5.2% 49.5%;
    --colors-slate11: 206 6% 63%;
    --colors-slate12: 210 6% 93%;

    --colors-sage1: 155 7% 8.4%;
    --colors-sage2: 150 7.4% 10.6%;
    --colors-sage3: 150 6.7% 13.1%;
    --colors-sage4: 150 6.4% 15.3%;
    --colors-sage5: 150 6.1% 17.4%;
    --colors-sage6: 150 5.8% 19.9%;
    --colors-sage7: 150 5.5% 23.6%;
    --colors-sage8: 150 5.1% 30.6%;
    --colors-sage9: 155 6% 42.5%;
    --colors-sage10: 153 4.8% 48.2%;
    --colors-sage11: 155 5% 61.8%;
    --colors-sage12: 155 6% 93%;

    --colors-olive1: 110 5% 8.6%;
    --colors-olive2: 105 7.4% 10.6%;
    --colors-olive3: 106 6.4% 13.1%;
    --colors-olive4: 106 5.8% 15.3%;
    --colors-olive5: 107 5.3% 17.4%;
    --colors-olive6: 107 4.9% 19.9%;
    --colors-olive7: 108 4.4% 23.6%;
    --colors-olive8: 110 3.8% 30.6%;
    --colors-olive9: 110 6% 42.5%;
    --colors-olive10: 111 4.8% 48.2%;
    --colors-olive11: 110 5% 61.8%;
    --colors-olive12: 110 6% 93%;

    --colors-sand1: 61 2% 8.3%;
    --colors-sand2: 60 3.7% 10.6%;
    --colors-sand3: 58 3.7% 13.1%;
    --colors-sand4: 57 3.6% 15.3%;
    --colors-sand5: 56 3.7% 17.4%;
    --colors-sand6: 55 3.7% 19.9%;
    --colors-sand7: 53 3.7% 23.6%;
    --colors-sand8: 50 3.8% 30.6%;
    --colors-sand9: 50 4% 42.7%;
    --colors-sand10: 52 3.1% 48.3%;
    --colors-sand11: 50 4% 61.8%;
    --colors-sand12: 56 4% 92.8%;

    --colors-tomato1: 10 23% 9.4%;
    --colors-tomato2: 9 44.8% 11.4%;
    --colors-tomato3: 8 52% 15.3%;
    --colors-tomato4: 7 56.3% 18%;
    --colors-tomato5: 7 60.1% 20.6%;
    --colors-tomato6: 8 64.8% 24%;
    --colors-tomato7: 8 71.2% 29.1%;
    --colors-tomato8: 10 80.2% 35.7%;
    --colors-tomato9: 10 78% 54%;
    --colors-tomato10: 10 81.7% 59%;
    --colors-tomato11: 10 85% 62.8%;
    --colors-tomato12: 10 89% 96%;

    --colors-red1: 353 23% 9.8%;
    --colors-red2: 357 34.4% 12%;
    --colors-red3: 356 43.4% 16.4%;
    --colors-red4: 356 47.6% 19.2%;
    --colors-red5: 356 51.1% 21.9%;
    --colors-red6: 356 55.2% 25.9%;
    --colors-red7: 357 60.2% 31.8%;
    --colors-red8: 358 65% 40.4%;
    --colors-red9: 358 75% 59%;
    --colors-red10: 358 85.3% 64%;
    --colors-red11: 358 100% 69.5%;
    --colors-red12: 351 89% 96%;

    --colors-crimson1: 335 20% 9.6%;
    --colors-crimson2: 335 32.2% 11.6%;
    --colors-crimson3: 335 42.5% 16.5%;
    --colors-crimson4: 335 47.2% 19.3%;
    --colors-crimson5: 335 50.9% 21.8%;
    --colors-crimson6: 335 55.7% 25.3%;
    --colors-crimson7: 336 62.9% 30.8%;
    --colors-crimson8: 336 74.9% 39%;
    --colors-crimson9: 336 80% 57.8%;
    --colors-crimson10: 339 84.1% 62.6%;
    --colors-crimson11: 341 90% 67.3%;
    --colors-crimson12: 332 87% 96%;

    --colors-pink1: 318 25% 9.6%;
    --colors-pink2: 319 32.2% 11.6%;
    --colors-pink3: 319 41% 16%;
    --colors-pink4: 320 45.4% 18.7%;
    --colors-pink5: 320 49% 21.1%;
    --colors-pink6: 321 53.6% 24.4%;
    --colors-pink7: 321 61.1% 29.7%;
    --colors-pink8: 322 74.9% 37.5%;
    --colors-pink9: 322 65% 54.5%;
    --colors-pink10: 323 72.8% 59.2%;
    --colors-pink11: 325 90% 66.4%;
    --colors-pink12: 322 90% 95.8%;

    --colors-plum1: 301 20% 9.4%;
    --colors-plum2: 300 29.8% 11.2%;
    --colors-plum3: 298 34.4% 15.3%;
    --colors-plum4: 297 36.8% 18.3%;
    --colors-plum5: 296 38.5% 21.1%;
    --colors-plum6: 295 40.4% 24.7%;
    --colors-plum7: 294 42.7% 30.6%;
    --colors-plum8: 292 45.1% 40%;
    --colors-plum9: 292 45% 51%;
    --colors-plum10: 295 50% 55.4%;
    --colors-plum11: 300 60% 62%;
    --colors-plum12: 296 74% 95.7%;

    --colors-purple1: 284 20% 9.6%;
    --colors-purple2: 283 30% 11.8%;
    --colors-purple3: 281 37.5% 16.5%;
    --colors-purple4: 280 41.2% 20%;
    --colors-purple5: 279 43.8% 23.3%;
    --colors-purple6: 277 46.4% 27.5%;
    --colors-purple7: 275 49.3% 34.6%;
    --colors-purple8: 272 52.1% 45.9%;
    --colors-purple9: 272 51% 54%;
    --colors-purple10: 273 57.3% 59.1%;
    --colors-purple11: 275 80% 71%;
    --colors-purple12: 279 75% 95.7%;

    --colors-violet1: 250 20% 10.2%;
    --colors-violet2: 255 30.3% 12.9%;
    --colors-violet3: 253 37% 18.4%;
    --colors-violet4: 252 40.1% 22.5%;
    --colors-violet5: 252 42.2% 26.2%;
    --colors-violet6: 251 44.3% 31.1%;
    --colors-violet7: 250 46.8% 38.9%;
    --colors-violet8: 250 51.8% 51.2%;
    --colors-violet9: 252 56% 57.5%;
    --colors-violet10: 251 63.2% 63.2%;
    --colors-violet11: 250 95% 76.8%;
    --colors-violet12: 252 87% 96.4%;

    --colors-indigo1: 229 24% 10%;
    --colors-indigo2: 230 36.4% 12.9%;
    --colors-indigo3: 228 43.3% 17.5%;
    --colors-indigo4: 227 47.2% 21%;
    --colors-indigo5: 227 50% 24.1%;
    --colors-indigo6: 226 52.9% 28.2%;
    --colors-indigo7: 226 56% 34.5%;
    --colors-indigo8: 226 58.2% 44.1%;
    --colors-indigo9: 226 70% 55.5%;
    --colors-indigo10: 227 75.2% 61.6%;
    --colors-indigo11: 228 100% 75.9%;
    --colors-indigo12: 226 83% 96.3%;

    --colors-blue1: 212 35% 9.2%;
    --colors-blue2: 216 50% 11.8%;
    --colors-blue3: 214 59.4% 15.3%;
    --colors-blue4: 214 65.8% 17.9%;
    --colors-blue5: 213 71.2% 20.2%;
    --colors-blue6: 212 77.4% 23.1%;
    --colors-blue7: 211 85.1% 27.4%;
    --colors-blue8: 211 89.7% 34.1%;
    --colors-blue9: 206 100% 50%;
    --colors-blue10: 209 100% 60.6%;
    --colors-blue11: 210 100% 66.1%;
    --colors-blue12: 206 98% 95.8%;

    --colors-sky1: 205 45% 8.6%;
    --colors-sky2: 202 71.4% 9.6%;
    --colors-sky3: 201 74.6% 12.2%;
    --colors-sky4: 201 77.4% 14.4%;
    --colors-sky5: 200 80.3% 16.5%;
    --colors-sky6: 200 84.1% 18.9%;
    --colors-sky7: 199 90.2% 22.1%;
    --colors-sky8: 198 100% 26.1%;
    --colors-sky9: 193 98% 70%;
    --colors-sky10: 192 100% 77%;
    --colors-sky11: 192 85% 55.8%;
    --colors-sky12: 198 98% 95.8%;

    --colors-mint1: 173 50% 6.6%;
    --colors-mint2: 176 73% 7.3%;
    --colors-mint3: 175 79.3% 8.9%;
    --colors-mint4: 174 84.8% 10.3%;
    --colors-mint5: 174 90.2% 11.9%;
    --colors-mint6: 173 96% 13.8%;
    --colors-mint7: 172 100% 16.8%;
    --colors-mint8: 170 100% 21.4%;
    --colors-mint9: 167 65% 66%;
    --colors-mint10: 163 80% 77%;
    --colors-mint11: 167 70% 48%;
    --colors-mint12: 165 80% 94.8%;

    --colors-cyan1: 192 60% 7.2%;
    --colors-cyan2: 192 71.4% 8.2%;
    --colors-cyan3: 192 75.9% 10.8%;
    --colors-cyan4: 192 79.3% 12.8%;
    --colors-cyan5: 192 82.5% 14.6%;
    --colors-cyan6: 192 86.6% 16.9%;
    --colors-cyan7: 192 92.6% 20.1%;
    --colors-cyan8: 192 100% 24.5%;
    --colors-cyan9: 190 95% 39%;
    --colors-cyan10: 188 100% 40%;
    --colors-cyan11: 186 100% 42.2%;
    --colors-cyan12: 185 73% 93.2%;

    --colors-teal1: 168 48% 6.5%;
    --colors-teal2: 169 77.8% 7.1%;
    --colors-teal3: 170 76.1% 9.2%;
    --colors-teal4: 171 75.8% 11%;
    --colors-teal5: 171 75.7% 12.8%;
    --colors-teal6: 172 75.8% 15.1%;
    --colors-teal7: 172 76.7% 18.6%;
    --colors-teal8: 173 80.2% 23.7%;
    --colors-teal9: 173 80% 36%;
    --colors-teal10: 174 83.9% 38.2%;
    --colors-teal11: 174 90% 40.7%;
    --colors-teal12: 166 73% 93.1%;

    --colors-green1: 146 30% 7.4%;
    --colors-green2: 155 44.2% 8.4%;
    --colors-green3: 155 46.7% 10.9%;
    --colors-green4: 154 48.4% 12.9%;
    --colors-green5: 154 49.7% 14.9%;
    --colors-green6: 154 50.9% 17.6%;
    --colors-green7: 153 51.8% 21.8%;
    --colors-green8: 151 51.7% 28.4%;
    --colors-green9: 151 55% 41.5%;
    --colors-green10: 151 49.3% 46.5%;
    --colors-green11: 151 50% 53.2%;
    --colors-green12: 137 72% 94%;

    --colors-grass1: 146 30% 7.4%;
    --colors-grass2: 136 33.3% 8.8%;
    --colors-grass3: 137 36% 11.4%;
    --colors-grass4: 137 37.6% 13.7%;
    --colors-grass5: 136 38.7% 16%;
    --colors-grass6: 135 39.6% 19.1%;
    --colors-grass7: 134 40.3% 23.8%;
    --colors-grass8: 131 40.1% 30.8%;
    --colors-grass9: 131 41% 46.5%;
    --colors-grass10: 131 39% 52.1%;
    --colors-grass11: 131 43% 57.2%;
    --colors-grass12: 137 72% 94%;

    --colors-lime1: 75 55% 6%;
    --colors-lime2: 74 56.8% 7.3%;
    --colors-lime3: 78 50.2% 9.9%;
    --colors-lime4: 79 50.3% 12.1%;
    --colors-lime5: 79 52.6% 14.2%;
    --colors-lime6: 78 55.7% 16.7%;
    --colors-lime7: 77 59.7% 20.1%;
    --colors-lime8: 75 64.8% 24.5%;
    --colors-lime9: 81 67% 50%;
    --colors-lime10: 75 85% 60%;
    --colors-lime11: 81 70% 43.8%;
    --colors-lime12: 84 79% 92.6%;

    --colors-yellow1: 45 100% 5.5%;
    --colors-yellow2: 46 100% 6.7%;
    --colors-yellow3: 45 100% 8.7%;
    --colors-yellow4: 45 100% 10.4%;
    --colors-yellow5: 47 100% 12.1%;
    --colors-yellow6: 49 100% 14.3%;
    --colors-yellow7: 49 90.3% 18.4%;
    --colors-yellow8: 50 100% 22%;
    --colors-yellow9: 53 92% 50%;
    --colors-yellow10: 54 100% 68%;
    --colors-yellow11: 48 100% 47%;
    --colors-yellow12: 53 100% 91%;

    --colors-amber1: 36 100% 6.1%;
    --colors-amber2: 35 100% 7.6%;
    --colors-amber3: 32 100% 10.2%;
    --colors-amber4: 32 100% 12.4%;
    --colors-amber5: 33 100% 14.6%;
    --colors-amber6: 35 100% 17.1%;
    --colors-amber7: 35 91% 21.6%;
    --colors-amber8: 36 100% 25.5%;
    --colors-amber9: 39 100% 57%;
    --colors-amber10: 43 100% 64%;
    --colors-amber11: 39 90% 49.8%;
    --colors-amber12: 39 97% 93.2%;

    --colors-orange1: 30 70% 7.2%;
    --colors-orange2: 28 100% 8.4%;
    --colors-orange3: 26 91.1% 11.6%;
    --colors-orange4: 25 88.3% 14.1%;
    --colors-orange5: 24 87.6% 16.6%;
    --colors-orange6: 24 88.6% 19.8%;
    --colors-orange7: 24 92.4% 24%;
    --colors-orange8: 25 100% 29%;
    --colors-orange9: 24 94% 50%;
    --colors-orange10: 24 100% 58.5%;
    --colors-orange11: 24 100% 62.2%;
    --colors-orange12: 24 97% 93.2%;

    --colors-brown1: 22 15% 8.7%;
    --colors-brown2: 20 28.3% 10.4%;
    --colors-brown3: 20 28% 14%;
    --colors-brown4: 21 28.4% 16.5%;
    --colors-brown5: 22 28.7% 18.9%;
    --colors-brown6: 23 29% 22.3%;
    --colors-brown7: 25 29.5% 27.8%;
    --colors-brown8: 27 30.1% 35.9%;
    --colors-brown9: 28 34% 51%;
    --colors-brown10: 28 41.4% 55.8%;
    --colors-brown11: 28 60% 64.5%;
    --colors-brown12: 30 67% 94%;

    --colors-bronze1: 17 10% 8.8%;
    --colors-bronze2: 15 14.8% 10.6%;
    --colors-bronze3: 15 16.3% 14.3%;
    --colors-bronze4: 16 17.1% 17.2%;
    --colors-bronze5: 16 17.6% 19.6%;
    --colors-bronze6: 16 18.1% 22.9%;
    --colors-bronze7: 17 18.8% 28.8%;
    --colors-bronze8: 17 19.6% 38%;
    --colors-bronze9: 17 20% 54%;
    --colors-bronze10: 18 24% 59%;
    --colors-bronze11: 18 35% 68.5%;
    --colors-bronze12: 18 57% 94.1%;

    --colors-gold1: 44 9% 8.3%;
    --colors-gold2: 43 14.3% 9.6%;
    --colors-gold3: 42 15.5% 13%;
    --colors-gold4: 41 16.4% 15.6%;
    --colors-gold5: 41 16.9% 17.8%;
    --colors-gold6: 40 17.6% 20.8%;
    --colors-gold7: 38 18.5% 26.4%;
    --colors-gold8: 36 19.6% 35.1%;
    --colors-gold9: 36 20% 49.5%;
    --colors-gold10: 36 22.3% 54.5%;
    --colors-gold11: 35 30% 64%;
    --colors-gold12: 49 52% 93.8%;
  }
}
